<section id="reset-password" class="auth-component d-flex justify-content-center align-items-center">
    <ngx-spinner size="medium" type="ball-triangle-path"></ngx-spinner>
    <div class="card overflow-hidden">
        <div class="card-body text-center">
            <div class="col-lg-12 col-12">
                <div class="auth-logo my-2">
                    <img src="../../../favicon.ico" class="img-fluid">
                </div>
                <h4 class="my-4 card-title text-center">Reset Password</h4>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <div class="password-container">
                            <input id="password" [type]="showNewPassword? 'text' : 'password'" class="form-control" placeholder="New Password"
                                   formControlName="newPassword">
                            <span id="showNewPassword" class="field-icon" [ngClass]="showNewPassword? 'ft-eye-off': 'ft-eye'" (click)="changeVisibility(0)"></span>
                        </div>
                        <small class="err" *ngIf="f.newPassword.errors?.required && (f.newPassword.touched || submitted)">
                            Please enter your password
                        </small>
                        <small class="err" *ngIf="f.newPassword.errors?.minlength && f.newPassword.touched">
                            Password must be of at least 8 characters
                        </small>
                    </div>
                    <div class="form-group">
                        <div class="password-container">
                            <input id="confirmPassword" [type]="showConfirmPassword? 'text' : 'password'"  class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                        </div>
                        <small class="err"*ngIf="f.confirmPassword.errors?.NewMatchPassword && (f.confirmPassword.touched || submitted)">Password did not match.</small>
                        <span id="showConfirmPassword" class="field-icon" [ngClass]="showConfirmPassword? 'ft-eye-off': 'ft-eye'" (click)="changeVisibility(1)"></span>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                    <div class="text-center font-small-3">
                        <a class="back-login" routerLink="/">
                            <i class="ft-arrow-left"></i> Back To Login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
