<section id="forgot-password" class="auth-component d-flex justify-content-center align-items-center">
    <ngx-spinner size="medium" type="ball-triangle-path"></ngx-spinner>
    <div class="card overflow-hidden">
        <div class="card-body text-center">
            <div class="col-lg-12 col-12">
                <div class="auth-logo my-2">
                    <img src="../../../favicon.ico" class="img-fluid">
                </div>
                <h4 class="my-4 card-title text-center">Forgot Password?</h4>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input id="email" type="email" class="form-control" placeholder="Email" formControlName="email" autocomplete="off">
                        <small class="err" *ngIf="f.email.errors?.required && (f.email.touched || submitted)"> Please enter your email</small>
                        <small class="err" *ngIf="f.email.errors?.pattern && f.email.touched"> Please enter valid email id</small>
                    </div>
                    <div class="p-2">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                    <div class="text-center font-small-3">
                        <a class="back-login" routerLink="/">
                           <i class="ft-arrow-left"></i> Back To Login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
